In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('/Users/rodrigo/Documents/tfg/data/final/df_final_noNAF.csv')

In [31]:
df1 = df[["continent", "region", "productivity", "lights", "areakm2", "compactness", "pcompactness"]]
df1.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
productivity,34360.0,4131.079363,1.012082e+03,283.184940,3571.966161,4293.321782,4827.213614,7.269526e+03
lights,34360.0,596768.647781,2.603067e+06,436.000000,73572.500000,159428.500000,407683.125000,9.965943e+07
areakm2,34360.0,126.300691,4.617482e+02,0.854913,20.142272,40.032604,91.292687,1.807044e+04
compactness,34360.0,0.898226,9.845214e-02,0.341375,0.870295,0.937052,0.963483,9.958840e-01
pcompactness,34360.0,0.964861,5.570198e-02,0.436864,0.960327,0.986330,0.995089,1.006990e+00

In [32]:
summary_c = df1.groupby('continent').describe(percentiles = []).reset_index()
summary_c

  continent productivity                                                      \
                   count         mean          std          min          50%
0    Africa       8106.0  3546.394538  1344.411717   283.184940  3442.687739
1      Asia      26254.0  4311.602528   802.765570  1160.307694  4383.983103

                 lights                               ... compactness  \
           max    count           mean           std  ...         std
0  7260.062686   8106.0  811530.303787  3.323080e+06  ...    0.106309
1  7269.526015  26254.0  530460.352527  2.332439e+06  ...    0.095312

                               pcompactness                                \
        min      50%       max        count      mean       std       min
0  0.341808  0.92228  0.995884       8106.0  0.953943  0.063988  0.483617
1  0.341375  0.94033  0.994498      26254.0  0.968232  0.052426  0.436864


        50%       max
0  0.980692  1.006241
1  0.987655  1.006990

[2 rows x 31 columns]

In [33]:
summary_c.to_csv('/Users/rodrigo/Documents/tfg/output/table/table2_continent.csv')

In [38]:
summary_r = df1.groupby('region').describe(percentiles = []).reset_index()
summary_r

  region productivity                                                      \
                count         mean          std          min          50%
0     CA       1512.0  3295.228238   595.185358  1795.384485  3305.963684
1    CAF       1260.0  2834.167669  1226.528097  1153.036602  2517.294463
2     EA       7014.0  4624.293897   487.135396  1965.738751  4644.553042
3    EAF       2100.0  2809.166463  1034.836651   283.184940  2652.837310
4     SA      14830.0  4164.020009   747.033180  1160.307694  4213.827414
5    SAF       2373.0  4369.053435  1326.697775  1143.444768  4948.182060
6    SEA       2898.0  4840.308335  1028.180102  1822.163096  4988.647713
7    WAF       2373.0  3754.323427  1094.872652  1168.149161  3765.367951

                 lights                              ... compactness  \
           max    count          mean           std  ...         std
0  4484.959727   1512.0  8.451293e+05  1.121733e+06  ...    0.097880
1  7029.903606   1260.0  4.343804e+05  7.998073e+05  ...    0.118439
2  6120.502732   7014.0  8.445372e+05  4.056353e+06  ...    0.097073
3  5461.907035   2100.0  5.079190e+05  9.009378e+05  ...    0.102496
4  6076.236083  14830.0  3.115183e+05  7.409360e+05  ...    0.084096
5  6166.078480   2373.0  1.537286e+06  5.740183e+06  ...    0.103140
6  7269.526015   2898.0  7.265252e+05  2.329844e+06  ...    0.118304
7  7260.062686   2373.0  5.547139e+05  1.724902e+06  ...    0.103991

                                pcompactness                                \
        min       50%       max        count      mean       std       min
0  0.369541  0.929510  0.992665       1512.0  0.980722  0.037679  0.609161
1  0.398329  0.905410  0.995884       1260.0  0.936966  0.070358  0.483617
2  0.438840  0.930718  0.994498       7014.0  0.956908  0.067842  0.436864
3  0.341808  0.925068  0.989265       2100.0  0.945778  0.073045  0.491585
4  0.341375  0.950178  0.994351      14830.0  0.976570  0.040900  0.519751
5  0.448913  0.905577  0.993369       2373.0  0.957227  0.066053  0.513372
6  0.355742  0.893015  0.988994       2898.0  0.946456  0.056923  0.658656
7  0.387479  0.938798  0.992577       2373.0  0.966901  0.043448  0.765716


        50%       max
0  0.992139  1.006990
1  0.963574  1.002972
2  0.980901  1.005939
3  0.976819  1.006241
4  0.990499  1.006482
5  0.982358  1.004994
6  0.967253  1.005224
7  0.984987  1.005853

[8 rows x 31 columns]

In [41]:
summary_r.to_csv('/Users/rodrigo/Documents/tfg/output/table/table2_region.csv')

In [44]:
# read table

table2 = pd.read_csv('/Users/rodrigo/Documents/tfg/output/table/table2.csv')
table2.head()

,Unnamed: 0,count,mean,std,mean.1,std.1,mean.2,std.2,mean.3,std.3
0,ALL,8106,3546.4,1344.4,173.2,568.0,0.882,0.106,0.954,0.064
1,CA,1512,3295.2,595.2,249.3,316.7,0.894,0.098,0.981,0.038
2,SA,14830,4164.0,747.0,67.9,150.1,0.919,0.084,0.977,0.041
3,EA,7014,4624.3,487.1,167.8,725.2,0.893,0.097,0.957,0.068
4,SEA,2898,4840.3,1028.2,129.5,387.1,0.851,0.118,0.946,0.057

In [45]:
table2.to_latex('/Users/rodrigo/Documents/tfg/output/table/table2.tex', index = False,index_names = False)

In [47]:
print(table2.to_latex(index = False))

\begin{tabular}{lrrrrrrrrr}
\toprule
Unnamed: 0 &  count &    mean &     std &  mean.1 &  std.1 &  mean.2 &  std.2 &  mean.3 &  std.3 \\
\midrule
       ALL &   8106 &  3546.4 &  1344.4 &   173.2 &  568.0 &   0.882 &  0.106 &   0.954 &  0.064 \\
        CA &   1512 &  3295.2 &   595.2 &   249.3 &  316.7 &   0.894 &  0.098 &   0.981 &  0.038 \\
        SA &  14830 &  4164.0 &   747.0 &    67.9 &  150.1 &   0.919 &  0.084 &   0.977 &  0.041 \\
        EA &   7014 &  4624.3 &   487.1 &   167.8 &  725.2 &   0.893 &  0.097 &   0.957 &  0.068 \\
       SEA &   2898 &  4840.3 &  1028.2 &   129.5 &  387.1 &   0.851 &  0.118 &   0.946 &  0.057 \\
       ALL &  26254 &  4311.6 &   802.8 &   111.8 &  422.6 &   0.903 &  0.095 &   0.968 &  0.052 \\
       CAF &   1260 &  2834.2 &  1226.5 &   122.3 &  191.7 &   0.866 &  0.118 &   0.937 &  0.070 \\
       EAF &   2100 &  2809.2 &  1034.8 &   157.3 &  283.9 &   0.886 &  0.102 &   0.946 &  0.073 \\
       WAF &   2373 &  3754.3 &  1094.9 &   116.2 &  317.6 &   0.896 &  0.104 &   0.967 &  0.043 \\
       SAF &   2373 &  4369.1 &  1326.7 &   271.5 &  946.6 &   0.872 &  0.103 &   0.957 &  0.066 \\
\bottomrule
\end{tabular}